<h1> Welcome to the Seven Second Game!</h1>
<h6> Where Laughter and Chaos are Only Seven Seconds Away </h6>

<div class='home-buttons'>

  <form method='get' action='/instructions' class='full-width'>
    <button type="submit" class="btn btn-secondary btn-lg btn-block">How to Play</button>
  </form>

  <form method='get' action='/game/settings' class='full-width'>
    <button type="button" class="btn btn-primary btn-lg btn-block">Play a Game</button>
  </form>
<br>

<form method='get' action='/signin'>
  <button type="submit" class="btn btn-outline-info">Sign In</button>
</form>

<form method='get' action='/signup'>
  <button type="submit" class="btn btn-outline-success">Sign Up!</button>
</form>
</div>


