<h1>How to Play</h1>

<h4>Think charades meets taboo meets a 7 second timer</h4>

<p>  Let's say you have two players. When it's your turn, the other player will look at the screen while you don't. Once you're ready, they'll read you your first challenge. As soon as they're done reading it out loud, you have SEVEN SECONDS to complete the challenge. Once the seven seconds are up, the other player will decide if you completed the challenge or not.</p>

<p>  Now, it's the other player's turn. This time <em>you</em> look at the screen, read the challenge, and then decide after seven seconds if they completed the challenge or not</p>

<p> You and the other player will go back and forth like this until the end of the full game.</p>

<p> At the end of 5 rounds (or however many you decide in settings), there will be a grand winner declared: whoever completed the most challenges successfully wins!</p>

<p> This works similarly when you have more than 2 players, except more people vote on the challenge! If it's your turn, everyone else can see the screen and everyone else gets to vote on whether or not you completed the challenge successfully.</p>

<p> Notice the need for honesty! No pettiness allowed here. Be a good sport and rate each other accurately.</p>

<form method='get' action='/game/settings' class='full-width'>
  <button type="submit" class="btn btn-success btn-block"><strong>LET'S PLAY!</strong></button>
</form>

<form method='get' action='/signin' class='full-width'>
  <button type="submit" class="btn btn-info btn-block"><strong>SIGN IN</strong></button>
</form>

<br>
<div class='aside'>
  <p>  When you have an account, you can:
    <ul>
      <li>change the amount of challenges each player has each turn</li>
      <li>change the amount of rounds per game</li>
      <li>select what kind of challenges you want</li>
      <li>even add your own challenges!</li>
    </ul>
  </p>
</div>
<br>

<form method='get' action='/home' class='full-width'>
  <button type="submit" class="btn btn-secondary btn-block"><strong>HOMEPAGE</strong></button>
</form>
<br><br>

